* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace ,sans-serif;
    background-color: #ececec;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
head {
    margin: 22px 32px;
    width: 40px;
    font-size: 32px;
    display: flex;

}
.logo {
    margin-left: 82px;
    width: 80px;

}
nav {
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    display: flex;
    margin-left: 30%;

}
li {
    align-items: right;
    justify-content: right;
    text-align: right;
    margin-top: -18%;
    list-style: none;
    padding: 0 8%;
    background-color: transparent;

}
a {
    text-decoration: none;
    margin: 0 80%;
    color: black;
    font-size: 20px;
    font-weight: 500;

}
a:hover {
    border-bottom: 4px solid rgb(66, 66 ,255);
    padding: 10% 20%;
}
.land .my-name {
    display: flex;
    margin-top: 90px;

}
.land h1 {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 400%;

}
.land span {
    color: rgb(253, 50, 43);
    font-size: 90%;

}
.land img {
    position: relative;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 9%;
    margin-top: -10%;
    transition: 2s;
}
.land img:hover {
    transform: translate(-3%,10%);
    transition: 2s;
}
.my-skills {
    position: absolute;
    margin-top: -30%;
    margin-left: 70%;

}
.my-skills h3 {
    font-size: 200%;
    font-weight: 400;
}
.my-skills p {
    font-size: 100%;
    font-weight: 400;
    margin-top: 6%;

}
.my-skills button {
    margin-top: 8%;
    padding: 2px 35px;
    border-radius: 10%;
    margin-left: 2px;
    background-color: white;
    font-size: 80%;
    color: black;

}
.my-skills button span {
    color: black;
    background-color: transparent;
    font-size: 110%;
    margin: auto;
    padding: 0 15%;
    text-align: right;
    justify-content: right;
    align-items: center;
}
.my-skills button i {
    color: black;
    font-size: 220%;
    background-color: transparent;
}
.my-skills button:hover {
    background-color: #0c41ee;
}








